title = "الصفحة الرئيسية"
url = "/"
; layout = "default"
[localePicker]
[Store]
[session]
[Cart]
==

   
   {# {% component "notifications" %} #}
   {% partial 'home/topbar' %}
   {% partial 'home/navbar' show_clouser=true %}
   
   {% if Store.onGetProductsIsBest is not empty %} {% partial 'home/products' title_product='أفضل المنتجات' name_component=Store.onGetProductsIsBest %} {% endif %}
   {% if Store.onGetProductsIsFeatured is not empty %} {% partial 'home/products' title_product='منتجات مميزة' name_component=Store.onGetProductsIsFeatured %} {% endif %}
   {% if Store.onGetProductsNew is not empty %} {% partial 'home/products' title_product='منتجات جديدة' name_component=Store.onGetProductsNew %} {% endif %}
   {% if Store.onGetProductsIsTop is not empty %} {% partial 'home/products' title_product='منتجات عالية الجودة' name_component=Store.onGetProductsIsTop %} {% endif %}

   {% partial 'home/categories' %}
   {# {% partial 'home/offer' %} #}
   {# {% partial 'home/subscribe' %} #}
   {# {% partial 'home/products_tow' %} #}

{% partial 'home/featured' %}





   

   


   




    


   


   

